* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    padding: 20px 0;
    background-color: #262728;
    color: #fcfcfc;
}

h1, h2 {
    font-family: 'Dela Gothic One', cursive;
    font-weight: normal;
}

h1 {
    font-size: 30px;
}

header nav li {
    display: inline;
    margin-left: 120px;
    font-size: 15px;
}

header nav li a {
    font-family: 'Roboto Mono', monospace;
    color: #fcfcfc;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background-image: url(./imagem/map-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    height: 100%;
}

.jogo, .jogo-b {
    background-color: #262728;
    padding: 10px;
    margin: 25px;
    height: 500px;
    width: 500px;
}

.titulo {
    background-color: rgba(28, 28, 29, 0.5);
    color: #fcfcfc;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.p1 {
    padding: 20px;
    text-size-adjust: 100px;
}

.p2 {
    margin-left: 570px;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 300px;
}

.conteudo-a {
    display: flex;
    align-content: space-between;
    margin: 25px;
    margin-right: 550px;
} 

.conteudo-b {
    display: flex;
    padding-right: 10px;
}

.conteudo p {
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(0, 0, 255, 0.5);
    color: #fcfcfc;
}

form input,
form textarea,
form button {
    font-family: 'Roboto Mono', monospace;
    display: block;
    width: 320px;
    margin-bottom: 10px;
    padding: 10px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #65410d;
    color: #fcfcfc;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #e9b158;
    color: black;
}

input:focus, textarea:focus {
    outline-color: #65410d;
}


.cadastro {
    margin-left: 40%;
    margin-right: 50%;
}

.link {
    padding: 20px;
    background-color: #404143;
    color: #fcfcfc;
    display: flex;

    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 20px;
}

.social-links img {
    height: 30px;
    margin-right: 10px;
    padding-left: 20px;
}

.social-links li {
    display: inline;
    margin-right: 10px;
    text-decoration: none;
}

footer {
    font-family: 'Roboto Mono', monospace;
    padding: 20px;
    padding-left: 20px;
    background-color: #404143;
    color: #fcfcfc;
}